<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content>

    <h1>EthRhythm</h1>
    <h4>Listen to the Ethereum memory pool</h4>

    <h2>Open Source</h2>
    <p>All codes of this project are published under the MIT license. The sourcecode can be found on <a href="https://github.com/ehsueh/ethsong" target="_blank">github</a>. Please report any bugs or create pull requests for missing features.</p>

    <h2>Contributors</h2>
    <div><a href="https://github.com/ehsueh" target="_blank">Emma Hsueh</a></div>
    <div><a href="https://github.com/cangr" target="_blank">Sven Mutzl</a></div>
    <div><a href="https://github.com/g2kokaro" target="_blank">Dima Kokarovtsev</a></div>
    <div><a href="https://github.com/sesameJar" target="_blank">Mehrad Kavian</a></div>
    
    <br>
    <div>Thanks a lot to the guys from <a href="https://dfuse.io" target="_blank">dfuse</a> who provided the data.</div>

    <h2>License</h2>
    <p>
      Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
      documentation files (the "Software"), to deal in the Software without restriction, including without limitation
      the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
      to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    </p>
    <p>
      The above copyright notice and this permission notice shall be included in all copies or substantial portions of
      the Software.
    </p>
    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
      THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
      CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
      IN THE SOFTWARE.
    </p>

  </ion-content>