<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{(transactions|keyvalue).length}} transactions
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMute()">{{muteSwitch}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div fxLayout="row wrap" fxLayoutAlign="start" *ngIf="transactions">
    <app-transaction style="padding-right: 2px; padding-left: 2px;" fxFlex.xs="50" fxFlex.lt-md="33" fxFlex.md="20" fxFlex.lg="16.6" fxFlex.xl="10" *ngFor="let tx of transactions | keyvalue" [ethValue]="tx.value.value" [maxValue]="maxValue" [hash]="tx.value.hash"></app-transaction>
    </div>
</ion-content>
